.product-images__results thead { display: block; }
.product-images__results thead th:first-of-type { width: 200px; }
.product-images__results tbody { display: block; }
.product-images__results tbody td:first-of-type { width: 200px; }
.product-images__results tbody {
  max-height: 300px;
  overflow: auto;
}