@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    @apply .text-gray-800;
}

@import 'components/alerts';
@import 'components/forms';
@import 'components/buttons';
@import 'components/badges';
@import 'components/pagination';
@import 'components/spinners';

.dropdown {
    @apply .rounded .relative;
}

.dropdown-menu-item {
    @apply .block .no-underline .text-sm .leading-loose .px-4 .text-gray-700 .py-1;

    &:hover {
        @apply .bg-gray-100;
    }
}

nav {
    .menu-item {
        @apply .mt-2 .-mx-3 .px-3 .py-2 .flex .items-center .justify-between .text-sm .font-medium .text-gray-300 .rounded-lg;

        &:hover {
            @apply .bg-gray-200 .text-gray-700;
        }

        svg {
            @apply .text-gray-500 .h-6 .w-6 .fill-current;
        }

        .menu-title {
            @apply .ml-2;
        }
    }

    .active {
        @apply .bg-gray-200;

        svg {
            @apply .text-gray-700;
        }

        span {
            @apply .text-gray-800;
        }
    }
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
