main.auth {
    @apply .flex .items-center .bg-background_content-color .text-background_content-text .h-full;

    .auth-form {
        @apply .p-4 .w-full .h-full;

        @screen md {
            @apply .h-auto .px-20;
        }

        @screen lg {
            @apply .h-auto .px-20;
        }

        @screen xl {
            @apply .h-auto .w-1/3;
        }

        .logo-heading {
            @apply .items-center;

            h1 {
                @apply .tracking-widest;
            }

            img.logo {
                @apply .mb-5 .m-auto;

                max-height: 120px;

                @screen sm {
                    @apply .mb-0 .mb-1;

                    max-height: 60px;
                }
            }

            @screen lg {
                @apply .hidden;
            }
        }

        h1 {
            @apply .uppercase .text-center .text-3xl .mb-3;

            @screen md {
                @apply .mb-0 .mb-20;
            }

            span {
                @apply .block .normal-case .font-thin .text-lg;
            }
        }
    }

    .auth-details {
        @apply .hidden .bg-background_primary-color .text-background_primary-text .h-full;

        @screen lg {
            @apply .block .w-2/3 .p-10;
        }

        @screen xl {
            @apply .block .w-2/3 .p-56;
        }

        img.logo {
            @apply .mb-5;

            max-height: 80px;
        }

        h1 {
            @apply .text-4xl .font-light .mb-3;
        }

        p {
            @apply .max-w-2xl .font-thin;
        }
    }
}
