.loadingSpinner {
    @apply .border-4 .border-white .rounded-full .opacity-75 .w-5 .h-5;

    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    animation: loadingSpinner .7s infinite linear;
    -webkit-animation: loadingSpinner .7s infinite linear;
}

button .loadingSpinner {
    @apply .ml-5 .absolute;
}

@keyframes loadingSpinner {
    from { transform: rotate(0deg)   }
    to   { transform: rotate(360deg) }
}

@-webkit-keyframes loadingSpinner {
    from { -webkit-transform: rotate(0deg)   }
    to   { -webkit-transform: rotate(360deg) }
}
