.container.content {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 110px;
}

/*.card {*/
    /*box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);*/
/*}*/

.home-sidebar img {
    margin-bottom: 10px;
}

figure.col {
    padding-left: 5px;
    padding-right: 5px;
}