@import 'variables';

header {
  background-color: $bg-header;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .brand img {
  max-height: 55px;
  margin-top: 5px;
}

header .header-basket {
  background-color: $bg-navigation;
  color: rgb(255, 255, 255);
  width: 360px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  box-shadow: $default-shadow;
  border-radius: 0.25rem;
}

header .header-basket .basket-dropdown {
  margin-top: 20px;
  position: absolute;
  max-height: 200px;
  width: 360px;
  z-index: 20;
  border-radius: 0.25rem;
  box-shadow: $default-shadow;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

header .header-basket .basket-dropdown::after {
  bottom: 100%;
  left: 89%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 8px solid transparent;
  border-bottom-color: white;
  margin-left: -100px;
}

header .header-basket .basket-dropdown .col-auto {
  padding-right: 0;
}

header .header-basket .basket-dropdown img {
  width: 80px;
  margin: 10px 0 10px 10px;
}

header .header-basket .basket-dropdown .details {
  margin-top: 10px;
}

header .header-basket .basket-dropdown .details h3 {
  font-weight: 900;
  font-size: 1rem;
  color: rgba(128, 208, 216, 1.0);
  margin-bottom: 0.2rem;
}

header .header-basket .basket-dropdown .details span {
  display: block;
  font-size: 0.75rem;
}

header .header-basket .basket-dropdown .basket-dropdown-message {
  background-color: #7DA0B1;
  text-align: center;
}