.nav-header a {
  color: rgb(255, 255, 255);
}

.navbar {
  padding: 0;
}

.nav-item {
  width: auto;
  max-width: 100px;
  margin-right: 2px;
}

.nav-item .active {
  border-bottom-color: rgba(255, 242, 0, 1.0);
}

.nav-item a:hover {
  border-bottom-color: rgba(255, 242, 0, 1.0);
}

.nav-item .nav-link {
  padding: 0 20px !important;
}

.nav-link {
  font-style: normal;
  line-height: 1rem;
  height: 55px;
  vertical-align: middle;
  display: table-cell;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.user-details {
  margin-top: 7px;
  line-height: 1.3;
}

.user-details span {
  display: block;
}

.navbar-toggler {
  color: rgb(255, 255, 255);
  margin-top: 8px;
  margin-bottom: 8px;
}