$primary-color: rgba(128, 208, 216, 1.0);
$main-text-color: rgb(0, 0, 0);

h1.page-title {
  color: #6c6b6d;
  font-size: 36px;
  text-indent: 15px;
  border-left: 8px solid #cde07b;
  font-weight: 300;
  margin-bottom: 15px;
}

h2.section-title {
  color: $primary-color;
  font-size: 18px;
  font-weight: 700;
}

h2.section-title a {
  color: inherit;
}