$bg-main: rgba(248, 250, 252, 1.0);
$bg-header: rgba(49, 49, 49, 1.0);
$bg-navigation: rgba(92, 93, 95, 1.0);
$bg-basket: rgb(244, 245, 247);

$default-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);