@import '../app';

:root {
    --background-primary-color: rgba(2, 163, 218, 1.0);
    --background-primary-text: rgb(255, 255, 255);
    --background-invert-color: rgba(1, 113, 153, 1.0);
    --background-invert-text: rgb(255, 255, 255);

    --button-primary-color: rgba(2, 163, 218, 1.0);
    --button-primary-text: rgb(255, 255, 255);
}
